html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #303030;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h1 {
  font-size: 30px;
  color: rgba(255, 255, 255, 87%);
}
h2 {
  font-size: 24px;
  color: rgba(255, 255, 255, 87%);
}
h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 87%);
}

button {
  cursor: pointer;
  font-size: 16px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 87%);
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

.eightSeven {
  color: rgba(255, 255, 255, 87%);
}

.six {
  color: rgba(255, 255, 255, 60%);
}

.threeEight {
  color: rgba(255, 255, 255, 38%);
}

.novelTitle {
  padding: 0.25rem;
}

.forgetPass {
  color: violet;
  font-size: 14px;
  cursor: pointer;
}

.blankText {
  outline: none;
}
.blankText > div {
  line-height: 1.5rem;
}

hr {
  margin: 1rem 0;
  border: 1px solid rgba(255, 255, 255, 38%);
}
.hrMg2 {
  margin: 1.6rem 0;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgba(255, 255, 255, 38%);
  cursor: text;
}

[contenteditable="true"]:focus-visible {
  outline: none;
}

.widthsf {
  width: 75%;
}

.opa100 {
  opacity: 100%;
  top: 50%;
  visibility: visible;
  transition: all ease 0.5s 0s;
}

.opa0 {
  top: 55%;
  visibility: hidden;
  opacity: 0%;
  transition: all ease 0.5s 0s;
}

.sideOpen {
  display: flex;
  width: 75.5%;
  justify-content: space-between;
  gap: 1rem;
  height: 3rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 31rem;
  z-index: 99;
  background-color: #303030;
  transition: all ease 0.5s 0s;
}
.sideClose {
  display: flex;
  width: 98%;
  justify-content: space-between;
  gap: 1rem;
  height: 3rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 4rem;
  z-index: 99;
  background-color: #303030;
  transition: all ease 0.5s 0s;
}

.mgL25 {
  margin-left: 25rem;
  transition: all ease 0.5s 0s;
}
.mgL0 {
  margin-left: 0;
  transition: all ease 0.5s 0s;
}

.sideOpenTab {
  left: 3.5rem;
  transition: all ease 0.5s 0s;
}
.sideCloseTab {
  left: -27rem;
  transition: all ease 0.5s 0s;
}

.font14 {
  font-size: 14px;
}
.font2dot5rem {
  font-size: 2.5rem;
}
.mgZOOO {
  margin: 0 1rem 1rem 1rem;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.paddingZOOO {
  padding: 0 1rem 1rem 1rem;
}
